/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

/* Header */
header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgba(255, 255, 255, 0.774);
}

.logo {
    font-size: 20px;
    font-weight: bold;
    background: white;
    color: black;
    padding: 15px 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
}

.social a img {
    width: 20px;
    margin-left: 20px;

}

/* Sección Hero */
.hero {
    height: 100vh;
    background: url('img/fondo.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hero h1 {
    font-size: 50px;
    font-weight: bold;
    background-color: #00000076;
    border-radius: 10px;

}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

button {
    background: black;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background: #333;
}

/* Flecha de Scroll */
.scroll-down {
    margin-top: 30px;
    font-size: 30px;
    animation: bounce 2s infinite;
    cursor: pointer;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
}
